
.Header{
    width: 100%;
    position: relative;
    text-align: center;
}

.Menu{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.NavBar{
    /* width: 25vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.Calendar{
    /* width: 70vw; */
    flex-grow: 10;
}

