.event-item {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #94A3B8;
  background-color: green;
  opacity: 0.3;
}

p {
  border: 1px groove #94A3B8; 
  border-radius: 5px;
  padding: 5px;
  overflow-x: scroll; 
  overflow-y: hidden; 
  text-align: center;
}